
body {
    background-color: #EAF6F6;
}

hr {
    width: 10%;
    border-style: none;
    border-bottom-style: dotted;
    border-width: 5px;
    border-color: lightgray;
}

h1, h3, h4 {
    color: #66BFBF;
}
